{
  "project": "Supertoller Titel",
  "shortDescription": "Kurze Beschreibung",
  "longDescription": "Superlange Beschreibung",
  "startDate" : "1994-03-12",
  "endDate" : "2019-02-08",
  "semester": 1,
  "position_in_semester": 3,
  "id": 3,
  "tags": ["Klassen","Objekte"],
  "relevantFiles": ["xml", "java"],
  "lecture_mapping": {
    "title": "LECTURE1",
    "date": "2018-07-09",
    "link": "GRIPS_LINK"
  }
}